@charset "utf-8";

/* é uma pratica usada no desenvolvimento web para remover ou padronizar os estilos padroes dos navegadores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* 1- define a imagem de fundo
   2- define a posição de uma imagem de fundo
   3- controla se a imagem de fundo repete ou não
   4- se deve rolar ou ficar fixa enquanto o conteúdo é rolado.*/


   /* pixel -> para tamanho e dimensões (Largura X Altura)
   O "vh" e ou "vw" serve para largura de tela (mobile first)
   Já o "em" e ou "rem", serve somente para fontes (mobile first? CCS3) */

html{
    height: 100vw;
}

body{

  background-image: linear-gradient(to bottom, #c96085 40%, #eeb9cb 100%);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
    
header {
    background-color: #c2209f;
    margin-top: 3px;
    border-radius: 7px 7px 0px 0px;
    width: 90vw;
    margin: auto;
}

header>h1 {
  text-align: center;
  color: #eeb9cb;
  padding: 3px;
  text-shadow: #c96085 1px 1px 10px;
  margin-top: 17px;
}

h1 {

  text-align: center;
  color: #ffffff;
  padding: 3px;
  text-shadow: #c96085 1px 1px 10px;
  margin-top: 17px;

}




h3 {
  text-indent: 30px;
  font-family: 'Times New Roman';
  font-weight: 300;
  text-align: left;
  color: aliceblue;
  margin-bottom: 10px;

}

.tópico {
  text-indent: 30px;
  font-family: serif;
  font-weight: 550;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;

}

#burger {
  background-color: #b23f70;
  display: block;
  color: whitesmoke;
  text-align: center;
  margin: auto;
  padding: 7px;
  width: 90vw;
  cursor: pointer;
}

#burger:hover {
    background-color: #ffffff;
}

menu{
    text-align: center;
    list-style-type: none;
    width: 90vw;
    margin: auto;
    list-style-type: none;
    background-color: rgb(179, 32, 118);
}

menu>ul {
    list-style-type: none;
}


/* O que você entende linha por linha deste código */
menu>ul>li>a {
    display: block;
    padding: 7px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(179, 32, 118);
    border-radius: 9px, 9px;
    color: whitesmoke;
    margin: auto;
  }


menu>ul>li>a:hover {
    background-color: #c5a898;
    color: whitesmoke;
    text-decoration: none;
} 

main {
  background-color: rgb(189, 88, 147);
  margin-top: 7px;
  border-radius: 11px;
  width: 90vw;
  margin: auto;
  text-align: center;
  padding: 3px;
}

article>h2 {
    color: rgb(255, 255, 255);
    padding-bottom: 17px;
}

article > p{
    text-align: justify;
    margin-bottom: 17px;
    text-indent: 17px;
    color: honeydew;
    text-align: justify;
}

footer {
  background-color: rgb(189, 88, 147);
  text-align: center;
  border-radius: 0px 0px 7px 7px;
  width: 90vw;
  padding: 7px;
  margin: auto;
}

img{ 
    display: block; 
    margin: auto; 
}  

img#mobile{
    display: block;
}

img#tablet{
    display: none;

}

img#print{ 
    display: none;
}

img#pc{
    display: none;
}

img#tv{
    display: none;
}




@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url("../back-tablet.jpg");
        background-image: linear-gradient(to bottom, #c96085 40%, #eeb9cb 100%);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll;

    }

    #burger{
       display: none;
    }

    menu{
      color: whitesmoke;
      text-align: center;
      margin-top: 5px;
      width: 90vw;
      margin: auto;
      list-style-type: none;
      background-color: rgb(179, 32, 118);
    }

    menu>ul>li{
      list-style-type: none;
    
    }

    main{
        width: 90wv;
        margin: auto;    
}

    article>h2 {
        padding-bottom: 17px;
        width: 90vw;
        margin: auto;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image:url("../back-pc.jpg");
        background-image: linear-gradient(to bottom, #c96085 40%, #eeb9cb 100%);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    #burger {
        display: none;
    }

    menu {
      color: whitesmoke;
      text-align: center;
      margin-top: 5px;
      width: 90vw;
      margin: auto;
      list-style-type: none;
      background-color: rgb(179, 32, 118);
    }

    menu>ul>li {
      list-style-type: none;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-image:url("../back-tv.jpg");
        background-repeat: repeat-x;
        background-attachment: fixed;
        background-image: linear-gradient(to bottom, #c96085 40%, #eeb9cb 100%);
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

    #burger {
        display: none;
    }

    menu {
      color: whitesmoke;
      text-align: center;
      margin-top: 5px;
      width: 90vw;
      margin: auto;
      list-style-type: none;
      background-color: rgb(179, 32, 118);
    }

    menu>ul>li {
      list-style-type: none;
    }

    main {
        width: 90vw;
        margin: auto;
    }

    article>h2 {
        padding-bottom: 17px;
    }

    article>p {
        text-align: justify;
        margin-bottom: 17px;
        text-indent: 17px;
    }

    footer {
        width: 90vw;
        margin: auto;
    }

    img#mobile {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}